

@{
    ViewBag.Title = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<p>Number of Registered Users: @ViewBag.UsersCount</p>
<a href="@Url.Action("Users", "Admin")">View Registered Candidates</a>


