
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*<h2>AdminIndex</h2>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Image Example</title>
    <style>

        .responsive-image {
            width: 100%;
            height: auto;
            max-width: 100%;
            display: block; 
        }

    </style>

</head>
<body>
    <img src="https://www.shutterstock.com/image-photo/admin-word-built-letter-cubes-600nw-1634303020.jpg" alt="Responsive Image" class="responsive-image" />
</body>
</html>




