
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
@*Nav bar*@
    <nav>
        <a href="~/Account/About">About</a>
        <a href="~/Account/Contact">Contact</a>
        <a href="~/Account/Register">Register Page</a>
    </nav>
    <div>
        @RenderBody()
    </div>
@*Footer*@
</body>
</html>
