@model IEnumerable<RecruitmentManagement.Models.UserInterviews>
@{
    ViewBag.Title = "AppliedDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<style>
    .appliedDetailsContainer {
        width: 80%;
        margin: 20px auto;
        font-family: Poppins, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    th, td {
        padding: 12px 15px;
        text-align: left;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    td {
        font-size: 16px;
    }

    h2 {
        text-align: center;
        color: #333;
        margin-top: 14px;
    }
</style>
<h2>Applied Details</h2>
<div class="appliedDetailsContainer">
    <table>
        <tr>
            <th>Job title</th>
            <th>Interview date</th>
            <th>Interview time</th>
            <th>Location</th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.JobTitle</td>
                    <td>@item.InterviewDate.ToString("yyyy-MM-dd")</td>
                    <td>@item.InterviewTime</td>
                    <td>@item.InterviewLocation</td>
                </tr>
            }
        }
    </table>
</div>