
@{
    ViewBag.Title = "EntryPage";
    Layout = "~/Views/Shared/EntryLayout.cshtml";
}

@*<h2>EntryPage</h2>*@
<img src="https://www.hrmexam.com/wp-content/uploads/2021/11/1.png" alt="HR Image" width="100%" />

